body {
   /* background-color: #ccc; */
}
.container-fluid {
}
.routeSelectDark {
   background-color: #ccc;
}
.col-sm-2 {
    height: 50px;           
}
.col-sm-3 {  
    height: 50px;        
}
.col-sm-6 { 
    height: 50px;          
}
.col-sm-8 {  
    height: 50px;          
}
.col-sm-10 {
    height: 50px;           
}
#toplogo {
    padding-top: 10px;
}
#messages {
    padding-top: 19px;
    text-align: right;
    margin: 0px 0px 10px 0px;     
}
#routeSelect {
    width: 100%;
    color: #000;
    margin-bottom:5px;
    /* background-color: #ccc; */
}
#autorefresh {
    width: 100%;  
    margin-bottom:5px;
}
#delete {
    width: 100%;                
    margin-bottom:5px;
}
#refresh {
    width: 100%;   
    margin-bottom:5px;
}
#viewall {
    width: 100%;   
    margin-bottom:5px;
}
.deletediv {
    text-align: center;
}
.autorefreshdiv {
    text-align: center;
}
.refreshdiv {
    text-align: center;
}
.viewalldiv {
    text-align: center;
}
@media only screen and (min-width : 768px) {
    .container {
        margin-top: 25px;
    }

    .deletediv {
        text-align: left;
    }
    .autorefreshdiv {
        text-align: center;
    }

    .refreshdiv {
        text-align: center;
    }
    
    .viewalldiv {
        text-align: right;
    }    
}      
#map-canvas {
    border: 1px solid #000;
    width: 98%;
    height: 98%;    
}
#mapdiv { 
    height: 420pt;
}
#selectdiv {
       margin-bottom: 10px;
}
#halimage {
    vertical-align:middle;
    width: 37px;
    height: 37px;
    margin-bottom: 5px;
}

.headerRow{
 background: #115A8E none repeat scroll 0 0;
 height: 40px;
}
#settingsDiv{
 	 margin-left:1%;
	 margin-right:1%;
	 max-height:410pt;
	 overflow-y:auto;
	 overflow-x:hidden;
}
#taskDiv{
 	 margin-left:1%;
	 margin-right:1%;
	 max-height:400pt;
	 overflow-y:auto;
	 overflow-x:hidden;
}

#taskTable{
	table-layout: fixed;
    width: 100%;
    height:60%;
}
#taskTable thead{
	
}
#taskTable th{
	color: #E6E0E0;
	text-shadow:none;
	font-size:20px;
}
#taskTable td{
	color:#1121C1;
	font-size:18px;
}
.oddRow{
 background: #FDFEE8;
}
#statusMessage{
    background: #fef8f8 none repeat scroll 0 0;
    border: 1px solid #fbdfe0;
    color: #ED646D;
    font-size: 0.9em;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding: 1%;
}
#historyTable{
	table-layout: fixed;
    width: 100%;
    height:80%;
}

